{
    "semi": true,
    "trailingComma": "all",
    "tabWidth": 2,
    "printWidth": 120,
    "arrowParens": "always",
    "bracketSpacing": true,
    "endOfLine": "lf",
    "overrides": [
        {
            "files": [
                "*.js",
                "*.ts"
            ],
            "options": {
                "singleQuote": true
            }
        },
        {
            "files": [
                "*.jsx",
                "*.tsx"
            ],
            "options": {
                "singleQuote": false
            }
        }
    ]
}
